/* App Layout */
body {
  margin: 0;
}

h1,
h2, h3 {
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.main-content {
  flex-grow: 1;
  background-color: #fbe9df;
}

.page {
  padding: 0 2.5rem;
}

/* Sidebar */
.sidebar {
  width: 150px;
  background: #F7F4F3;
  padding: 2rem;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background: #bbb;
}

/* Topbar */
.topbar {
  background: #fbe9df;
  padding: 3rem 2.5rem 1rem 2.5rem;
}

.topbar-icons {
  font-size: 1.5em;
}

/* Dashboard */
.dashboard-content {
  display: flex;
  gap: 20px;
}

.dashboard-content div {
  background-color: #F7F4F3;
  padding: 2.5rem;
  border-radius: 8px;
  flex: 1;
}

/* Waitlist */
.waitlist-table {
  width: 100%;
  border-collapse: collapse;
}

.waitlist-table th,
.waitlist-table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.add-customer-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.add-customer-button:hover {
  background-color: #45a049;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0;
}

/* Reservation */
.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-card {
  width: 200px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  border: 3px solid #ff5500;
}

.table-card.assigned {
  background-color: #ff5500;
  color: rgb(249, 244, 244);
}

.table-card.available {
  background-color: #faf2ed;
}

.table-info {
  margin-bottom: 10px;
}

.table-number {
  font-size: 1.2em;
  font-weight: bold;
}

.customer-info {
  font-size: 0.9em;
}

.actions {
  margin-top: 10px;
}

.actions button {
  padding: 5px;
  margin-top: 5px;
}

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.menu-items {
  margin-bottom: 15px;
}

.order-summary {
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #45a049;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */