/* App Layout */
body {
  margin: 0;
}

h1,
h2 {
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.app-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.main-content {
  flex-grow: 1;
  background-color: #f9f9f9;
}

.page {
  padding: 20px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #FF4411;
  padding: 20px;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 10px;
}

.sidebar ul li a:hover {
  background: #bbb;
}

/* Topbar */
.topbar {
  background: #ccc;
  padding: 10px 20px;
}

.topbar-icons {
  font-size: 1.5em;
}

/* Dashboard */
.dashboard-content {
  display: flex;
  gap: 20px;
}

.dashboard-content div {
  background: grey;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
}
/* Reservation */
.reservation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation-actions {
  display: flex;
  gap: 10px;
}

.tables-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.table-box {
  background-color: lightgray;
  border-radius: 8px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.table-box:hover {
  background-color: gray;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input,
.modal-content select {
  padding: 5px;
}

.modal-content button[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  background-color: #FF4411;
  border: none;
  color: white;
  cursor: pointer;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */