/* App Layout */
body {
  margin: 0;
}

:root {
  --primary-color: black;
  --primary-color-2: white;
  --primary-color-3: #F7F4F3;
  --secondary-color: #ff5500;
  --secondary-color-2: #fbe9df;
}

h1,
h2,
h3 {
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: .5rem;
}

button {
  padding: 1rem;
  margin: .25rem;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--primary-color-2);
}

select,
input {
  padding: .5rem;
  font-size: 1rem;
}

.app-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.main-content {
  flex-grow: 1;
  background-color: var(--secondary-color-2);
}

.page {
  padding: 0 2.5rem;
}

/* Sidebar */
.sidebar {
  width: 150px;
  background: var(--primary-color-3);
  padding: 2rem;
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar__link {
  margin: 10px 0;
  font-family: "dunbar-tall", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--primary-color);
  display: block;
  padding: 10px;
}

.sidebar__link:hover {
  color: #ff5500;
  cursor: pointer;
}

/* Topbar */
.topbar {
  background-color: var(--secondary-color-2);
  padding: 3rem 2.5rem 1rem 2.5rem;
}

.topbar-icons {
  font-size: 1.5em;
}

/* Dashboard */
.dashboard-content {
  display: flex;
  gap: 20px;
}

.dashboard-content div {
  background-color: var(--primary-color-3);
  padding: 2.5rem;
  border-radius: 8px;
  flex: 1;
}

/* Waitlist */
.waitlist-table {
  width: 100%;
  border-collapse: collapse;
}

.waitlist-table th,
.waitlist-table td {
  padding: 8px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-style: normal;
  border-style: none;
  border-bottom: 1px solid var(--primary-color);
}

.waitlist-table tr:hover {
  background-color: var(--primary-color-3);
}

.waitlist-table th {
  background-color: var(--primary-color);
  color: var(--primary-color-2);
}

.custom-button {
  background-color: var(--primary-color);
  color: var(--primary-color-2);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: var(--secondary-color);
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--primary-color-2);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: .15rem 0;
}

/* Table Management*/
.tables-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.table-card {
  width: 200px;
  padding: 10px;
  background-color: var(--primary-color-3);
  border-radius: 5px;
  border: 3px solid var(--secondary-color);
}

.table-card.assigned {
  background-color: var(--secondary-color);
  color: var(--primary-color-3);
}

.table-card.available {
  background-color: var(--primary-color-3);
}

.table-info {
  margin-bottom: 10px;
}

.table-number {
  font-size: 1.2em;
  font-weight: bold;
}

.customer-info {
  font-size: 0.9em;
}

.actions {
  margin-top: 10px;
}

.actions button {
  padding: 5px;
  margin-top: 5px;
}

.modal-content--order {
  width: 1000px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.menu-items {
  margin-bottom: 15px;
}

.order-summary {
  margin-top: 20px;
}

.modal-actions button {
  padding: 10px;
  margin-top: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color-2);
  border: none;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: var(--secondary-color);
}

.order__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.order__action {
  grid-column: 3;
}

.bill {
  background: var(--secondary-color);
  color: var(--primary-color-2);
  padding: 1rem;
  border-radius: 15px;
}

/* Order page */
.order-item {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */